@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    color:white;
}
body {
    color:white;
    background: linear-gradient(90deg,#1f0077 , #1f0051);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar img {
    cursor:pointer; 
    margin-left: 50px ;
    width:280px;
    height:60px;
}
.nav-bar {
    display: flex;
    margin:25px 0 0 80px;
    width: auto;
    justify-content: space-between;
}
.nav li {
    display: inline-block;
    margin: 0 0 0 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
}

.nav button {
    border: none;
    outline: none;
    border-radius: 5px;
    width: auto;
    padding:10px 30px;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
    background: linear-gradient(90deg , #00b1f7 , #0088e1);
    margin-right: 80px;
    /*dip*/
}
.nav button:hover {
    background: linear-gradient(180deg , #00b1f7 , #0088e1);
    
    /*dip*/
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.7s;
}

.interface h1 {
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 45px;
}
.news {
    margin: 50px 0 50px 0;
}

.interface p {
    letter-spacing: 5px;
    font-family: 'Poppins' , sans-serif;
    line-height: 40px;
    font-size: 32px;
}
/*
.material-icons-outlined {
    font-family: 'Material Icons';
    position: fixed;
    margin:19px 0 0 30px;
    font-size: 30px;
}*/
.interface input {
    border:none;
    outline:none;
    height: 70px;
    width: 420px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px 0 0 5px;
    background: #705ed6;
    margin-bottom: 25px;
    padding: 10px 40px;
    font-size: 21px;
    letter-spacing: 1.5px;
    color: whitesmoke;
}
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size:21px;
        word-spacing: 1.5px;
        color: whitesmoke;
}
.interface button{
    border: none;
    outline: none;
    height: 70px;
    color: whitesmoke;
    margin-left: -10px;
    padding: 20px 28px;
    border-radius: 0 5px 5px 0;
    font-size:20px;
    font-family: 'poppins',sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right, #0088e1, #00b1f7);
    cursor:pointer;
}
 button:hover {
    background: linear-gradient( to left, #0088e1, #00b1f7);
}
.search-bar {
    display: flex;
}

/*Right side of the page*/
.interface {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.7s;
}
.info {
    background:linear-gradient(to left bottom, rgba(60, 10, 176, 1), #0088e1) ;
    width: 420px;
    height:auto;
    margin-top:-35px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 3px 10px #000 ;
    transition: 0.7s;
    margin-bottom: 50px;
}
.info .header {
    background-color: #4719b7;
    padding: 20px;
}
.header{
    margin: 18px 0 10px 0;
    text-indent: auto;
}
.info .report {
    text-align: center;
}
#description {
    top:20px;
    font-size: 31px;
    text-transform: capitalize;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
    text-shadow: 1px 1px 2px #000;
}
.info .output {
    display: flex;
    justify-content:center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:30px;
}

.digit {
    margin-top: 12px;
    font-family: 'Poppins',sans-serif;
}
.digit h1{
    text-shadow: 1px 1px 3px #000;
}
.digit span {
    font-size:18px;
}
.list_info {
    margin: 19px 0 0 150px;
    font-size: 22px;
} 
#wind {
    position: relative;
}
#humidity {
    position: relative;
}
#wind::before {
    content: '';
    width: 30px;
    height: 30px;
    position:absolute;
    right:90px;
    top:10px;
    margin-top:-5px;
    background-image: url('icons/wind.png');
    background-size:contain; 
}
#humidity::before {
    content: '';
    width: 30px;
    height: 30px;
    position:absolute;
    right:90px;
    top:10px;
    margin-top:-5px;
    background-image: url('icons/humidity.png');
    background-size: contain;
}
.converter {
    text-align: center;
    margin-top: 20px;
    font-size: 21px;
    cursor:pointer;
    padding-bottom:15px;
}
.feels_like {
    font-size: 21px;
    font-family: 'Poppins',sans-serif;
    font-weight: 550;
}

#deg {
    font-family: 'Poppins',sans-serif;
    font-size: 45px;
    font-weight:400 ;
}
/*media queries*/
@media (max-width:1254px) {

    .container {
        display:flex;
        flex-direction: column;
        transition: 0.7s;
    }
    .interface {
        margin-left: auto;
        margin-right: auto;
        transition: 0.7s;
    }
    .info {
        margin-top:25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        transition: 0.7s;
    }
}
@media (max-width:890px) {
    .nav-bar img {
        cursor:pointer; 
        margin-left: -30px ;
        transition: 1.2s;
    }
}
@media (max-width:710px) {
    .nav-bar img {
        cursor:pointer; 
        margin-left: -50px ;
        width:240px;
        height:50px;
        transition: 0.7s;
    }
    .nav button {
        font-size: 15px;
        margin-right: 40px;
        /*dip*/
    }
    .interface input {
        width: 360px;
    }
}
@media (max-width:550px) {
    .nav-bar img {
        cursor:pointer; 
        margin-left: -50px ;
        width:200px;
        height:40px;
        transition: 0.7s;
    }
    .nav button {
        font-size: 15px;
        margin-right: 40px;
        /*dip*/
    }
    .interface input {
        width: 310px;
    }
    .interface h1 {
        font-weight: bold;
        word-spacing: 1px;
        font-size: 35px;
    }
    .interface p {
        font-family: 'Poppins' , sans-serif;
        line-height: 30px;
        font-size: 22px;
        transition: 0.2s;
    }
    .interface button{
        border: none;
        outline: none;
        height: 70px;
        color: whitesmoke;
        margin-left: -10px;
        padding: 20px 20px;
        border-radius: 0 5px 5px 0;
        font-size:15px;
        font-family: 'poppins',sans-serif;
    }
}